
.layout{
    border: 2px solid black;
    height: 800px;
}
.container{
     border: 2px solid black;
    text-align: center;
}
.col-sm-3{
     border: 2px solid black;
    display: inline-block;
    text-align: center;
    border: 2px solid pink;
    float: none;
    width: 400px;
    height: 200px;
    margin-top: 300px;
}


